/* .PeeksPreview-container {} */

/* div.video-preview-grid-container-wrapper.Trending {
	min-height: 45vh;
} */

div.peeks-preview-grid-container-wrapper {
	display: flex;
	position: relative;
	min-height: 35vh;

	justify-content: center;
	align-items: center;
}

div.peeks-preview-grid-container {
	display: block;
	position: relative;
	/* height: 20vh; */
	width: 80%;
}

div.peeks-preview-grid {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 0.9rem;
}

div.peeks-preview-content-item {
	cursor: pointer;
}

div.peeks-preview-item-preview > img {
	aspect-ratio: 9/16;
	object-fit: cover;
	border-radius: 1rem;
}
