div.video-preview-grid-container-wrapper.Trending {
	min-height: 45vh;
	border-bottom: 1px solid lightcyan;
}


/* .Trending-container {
	display: flex;
	position: relative;
	min-height: 45vh;

	justify-content: center;
	align-items: center;
} */

/* 
div.trending-section {
	display: block;
	position: relative;
	height: 40vh;
	width: 95%;
}

div.trending-section-content {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 1.5rem;
}

div.trending-section-content-item {
	cursor: pointer;
}

div.trending-section-content-item:hover img {
	border-radius: 0;
	transition: border-radius 550ms ease-in-out;
}

div.trending-section-item-preview > img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;

	border-radius: 1rem;
	transition: border-radius 0ms ease-in-out;
}

div.trending-section-item-meta-data {
	display: grid;
	gap: 0.2rem;
	grid-template-columns: repeat(2, 1fr) 0.5fr;
}

div.trending-item-viewer-data {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

div.grid-col-span-2 {
	grid-column: span 2;
}

div.grid-row-span-2 {
	grid-row: span 2;
}

div.trending-item-title,
div.trending-item-username,
div.trending-item-category {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.trending-item-username {
	font-size: 14px;
	text-indent: 10%;
}

div.trending-item-category {
	font-size: 14px;
	color: rgba(245, 245, 245, 0.705);
}

div.trending-item-title {
	font-size: 17px;
	text-indent: 5%;
} */
