div.video-preview-grid-container-wrapper,
div.peeks-preview-grid-container-wrapper {
	position: relative;
}

div.video-preview-grid-container-wrapper {
	min-height: 45vh;
}

div.peeks-preview-grid-container-wrapper {
	min-height: 40vh;
}

div.video-preview-grid-container,
div.peeks-preview-grid-container {
	display: block;
	position: relative;
	width: 85%;
}

div.video-preview-grid-container {
	height: 40vh;
}

div.video-preview-grid,
div.peeks-preview-grid {
	display: grid;
	gap: 0.9rem;
}

div.video-preview-grid {
	grid-template-columns: repeat(6, 1fr);
}

div.peeks-preview-grid {
	grid-template-columns: repeat(8, 1fr);
}

div.video-preview-content-item:hover img {
	border-radius: 0;
	transition: border-radius 550ms ease-in-out;
}

div.video-preview-item-preview > img,
div.peeks-preview-item-preview > img {
	object-fit: cover;
	border-radius: 1rem;
}

div.video-preview-item-preview > img {
	aspect-ratio: 16/9;
	transition: border-radius 0ms ease-in-out;
}

div.peeks-preview-item-preview > img {
	aspect-ratio: 9/16;
}

div.video-preview-item-meta-data {
	display: grid;
	gap: 0.2rem;
	grid-template-columns: repeat(2, 1fr) 0.5fr;
}

div.video-preview-item-viewer-data {
	text-align: center;
}

div.video-preview-item-username,
div.video-preview-item-category {
	font-size: 14px;
	text-indent: 10%;
}

div.video-preview-item-category {
	color: rgba(245, 245, 245, 0.705);
	text-indent: none;
}

div.video-preview-item-title {
	font-size: 17px;
	text-indent: 5%;
}
