dialog.auth-handler-dialog {
	display: block;
	position: relative;
	height: 23rem;
	width: 25rem;
	background-color: rgba(37, 79, 158, 0.808);
}

.Login-container {
	display: grid;
	gap: 2rem;
	padding-block: 4rem;
	padding-inline: 3rem;
}

div.auth-title-container {
	display: block;
	position: relative;
	text-align: center;
}

h4.auth-title-dialog {
	font-size: 1.2rem;
	text-align: center;
}

form.auth-form {
	display: grid;
	gap: 1.5rem;
	padding-block: 1rem;
	padding-inline: 4rem;
}

label.auth-input-label {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: rgb(255, 255, 255);
	text-align: center;
}

input.auth-input {
	margin-top: 0.5rem;
	border-radius: 0.25rem;
	height: 20px;
	color: black;
}

button.submit-auth {
	background-color: cornflowerblue;
	border-radius: 0.25rem;
}
