dialog.auth-handler-dialog {
	display: flex;
	position: relative;
	
	left: 40%;
	top: 5rem;

	height: 23rem;
	width: 25rem;
	background-color: rgba(37, 79, 158, 0.808);
	border-radius: 1rem;
	box-shadow: 0 0 15px black;
	z-index: 100;
	
}

.Login-container {
	display: grid;
	gap: 2rem;
	padding-block: 4rem;
	padding-inline: 3rem;
}

div.auth-title-container {
	display: block;
	position: relative;
	text-align: center;
}

h4.auth-title-dialog {
	font-size: 1.2rem;
	text-align: center;
}

form.auth-form {
	display: grid;
	gap: 1.2rem;
	padding-block: .1rem;
	padding-inline: 3rem;
}

label.auth-input-label {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: rgb(255, 255, 255);
	text-align: center;
}

input.auth-input {
	margin-top: 0.5rem;
	border-radius: 0.7rem;
	height: 30px;
	width: 200px;
	color: black;
}

button.primary.submit-auth {
	border-radius: 0.5rem;
	height: 25px;
}
