* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: aliceblue;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	/* background-color: #142d4c; */
	background: linear-gradient(to top, #09203f 0%, #537895 100%);

	height: 100vh;
	font-family: "Inter latin", sans-serif;
}

main.auth-main {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	backdrop-filter: blur(2px) brightness(65%);
}

button.primary {
	font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	border: 0;
	border-radius: 3em;
	cursor: pointer;
	display: inline-block;
	line-height: 1;

	opacity: 0.9;
	transition: opacity 50ms ease;

	color: white;
	background-color: #1ea7fd;
}

button.primary:hover {
	opacity: 1;
}
