.SecondaryLayout-container {
	margin-top: 51px;
	display: flex;
	gap: 0.5rem;
	height: calc(100vh - 51px);
}

section.content-feed {
	min-height: 100%;
	width: 100%;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.281);
}

div.SideBar-container.collapsed + section.content-feed {
	display: block;
	position: relative;
	left: 3%;
	width: calc(96% - 2rem);
	margin-left: 0;
}
