header.header-layout {
	display: block;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	width: 100%;
}

nav.nav-layout {
	display: flex;
	position: relative;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
	background-color: #1c3e68;
}

nav.nav-layout > div.nav-bar-container {
	display: flex;
	position: relative;
	width: 100%;
}

div.nav-bar-left {
	display: flex;
	position: relative;
	height: 100%;
}

div.nav-bar-toggle-leftBody-container {
	width: 70px;
}

div.nav-bar-toggle-leftBody {
	display: block;
	position: absolute;
	left: 12.5px;
	top: 5.5px;
	height: 35px;
	width: 25%;
	border-radius: 50%;
	text-align: center;
	font-size: larger;
	font-weight: bold;

	cursor: pointer;
	opacity: 0.85;
	transition: opacity 150ms ease-in-out;
	transition: background-color 150ms ease-in-out;
}

span.toggle-leftBody {
	display: block;
	position: absolute;
	left: 9px;
	top: 3px;
}

div.nav-bar-toggle-leftBody:hover {
	background-color: rgba(182, 181, 181, 0.555);
	opacity: 1;
}

div.nav-bar-logo-container {
	position: relative;
	width: 70px;
}

div.nav-bar-logo {
	display: block;
	position: absolute;
	left: 10px;
	top: 15px;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

/* CENTER NAV BAR */
div.nav-bar-center {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

div.nav-bar-search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

div.nav-bar-search-bar {
	width: 50%;
}

input.search-bar,
button.primary.search-button {
	height: 35px;
	outline: none;
}

input.search-bar {
	color: black;
	width: 100%;
	border-radius: 0.35rem 0 0 0.35rem;
	border: 2px solid cornflowerblue;
	background-color: aliceblue;
	opacity: 0.9;
	transition: opacity 150ms ease-in-out;
	text-indent: 10px
}
input.search-bar[type="search"]::placeholder {
	color: rgba(100, 148, 237, 0.61); 
	padding-left: 3px;
}



input.search-bar:hover,
input.search-bar:focus {
	opacity: 1;
}

button.primary.search-button {
	width: 130%;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	opacity: 1;
}

/* RIGHT NAV BAR */
div.nav-bar-right {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: center;
}

div.nav-bar-log-in-container {
	display: block;
	position: relative;
	width: 70px;
	left: 25%;
}

div.log-in-button-container {
	display: block;
}

button.primary.sign-up-button,
button.primary.log-in-button {
	width: 100%;
}

div.nav-bar-sign-up-container {
	display: block;
	position: relative;
	width: 70px;
	left: 23%;
}

div.nav-bar-right button.primary {
	height: 25px;
}

/* RIGHT NAV BAR LOGGED IN*/
div.nav-bar-log-out-container {
	width: 70px;
}

div.nav-bar-log-out-container {
	display: block;
	position: relative;
	width: 70px;
	left: 21%;
}

div.nav-bar-dashboard-container {
	display: block;
	position: relative;
	width: 85px;
	left: 23%;
}
button.primary.dashboard-button,
button.primary.log-out-button {
	width: 100%;
}
